<!DOCTYPE html>
<html lang="en">
<head>
    <title>Attractions</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<style>
body {
  background-image: url("https://wallpaperaccess.com/full/196759.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

</style>

<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <img src="https://image.flaticon.com/icons/svg/1216/1216732.svg" class="img-rounded" width="100" height="50">
        </div>
        <ul class="nav navbar-nav">
            <a class="navbar-brand" href="#">Trip Advisor</a>
            <li><a href="/welcome">Home</a></li>
            <li><a href="/hotelInfo?hotelId=$hotelId">Hotel</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li><a href="/profile" data-toggle="tooltip" title="Profile">PROFILE</a></li>
            <li><a href="/login?logout" data-toggle="tooltip" title="Logout">LOGOUT</a></li>
        </ul>
    </div>
</nav>



<div class="container">
    <h3>$name</h3>
    <div class="panel panel-primary">
        <div class="panel-heading"><h4>Attractions within a radius of $radius miles</h4></div>
        <div class="panel-body">
            <div class="table-responsive">
        <table class="table table-borderless">
            <thead>
            <tr>
                <th>Attraction</th>
                <th>Address</th>
                <th>Rating</th>
            </tr>
            </thead>
            <tbody>
            #foreach( $attraction in $attractions)
            <tr>
                <td>$attraction.name</td>
                <td>$attraction.address</td>
                <td>$attraction.rating</td>
            </tr>
            #end
            </tbody>
        </table>
    </div>

    </div>
    </div>
</div>
</body>
</html>

